// Eylam Kadden 206516957
// Oren Pinhasov 318552734
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(124, 124, 124);
  font: 14px "Century Gothic", Futura, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(124, 124, 124);
}

#root {
  height: 100%;
}

.mainDiv {
  height: 100%;
}

.Table {
  background-color: rgb(255, 255, 255);
  width: calc(100% - 500px);
  height: 100%;
  align-items: center;
  color: white;
  border: 1px solid black;
  padding: 0;
  border-spacing: 0px;
  flex-direction: column;
}

.Table thead{
  background-color: rgb(47, 95, 191);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border-bottom: 1px solid black;
}

.Table th {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: Center;
  align-items: center;
  border-right: 1px solid black;

} 

.tableHeader th:last-child {
  width: calc(100% + 92px)
} 

.Table tbody {
  background-color: rgb(182, 182, 182);
  width: 100%;
  height: calc(100% - 50px);
  max-height: calc(100% - 50px);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,208,233,1) 100%);
  display: block;
  border-bottom: 1px solid black;
  overflow-y: scroll;
} 

.tableHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: larger;
}

.tableRow{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
} 

.tableRow:nth-child(odd) {
  /* background-color: rgb(11, 138, 66); set a different color for odd rows */
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.Table td {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
} 
