html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(124, 124, 124);
  font: 14px "Century Gothic", Futura, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(124, 124, 124);
}

#root {
  height: 100%;
}

.mainDiv {
  height: 100%;
}

.formDiv {
  height: 95%;
  width: 100%;
  background-color: rgb(209, 168, 168);
  justify-content: left;

}

.costsForm {
  height: 100%;
  width: 500px;
  background-color: rgb(222, 223, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.costsFormInputLabel {
 width: 100%;
 height: 30px;
 min-height: 0;
 display: flex;
 align-items: center;
 justify-content: space-around;
 margin-top: 15px;
}

.costsFormInputLabel .textDiv {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-weight: bold;
 }

.costsFormInput {
  width: 50%;
  border-radius: 10px;
  height: 100%;
}

.formBtn {
  width: 30%;
  height: 30px;
  background-color: rgb(47, 95, 191);
  color: white;
  font-size: larger;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.costsTable {
  background-color: rgb(255, 255, 255);
  width: calc(100% - 500px);
  height: 100%;
  align-items: center;
  color: white;
  border: 1px solid black;
  padding: 0;
  border-spacing: 0px;
  flex-direction: column;
}

.costsTable thead{
  background-color: rgb(47, 95, 191);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border-bottom: 1px solid black;
}

.costsTable th {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: Center;
  align-items: center;
  border-right: 1px solid black;

} 

.tableHeader th:last-child {
  width: calc(100% + 92px)
} 

.costsTable tbody {
  background-color: rgb(182, 182, 182);
  width: 100%;
  height: calc(100% - 50px);
  max-height: calc(100% - 50px);
  display: block;
  border-bottom: 1px solid black;
  overflow-y: scroll;
} 

.tableHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: larger;
}

.tableRow{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
} 

.tableRow:nth-child(odd) {
  background-color: lightgray; /* set a different color for odd rows */
}

.costsTable td {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
} 

.reportDiv {
  width: 100%;
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
}

.reportDivs {
  height: 95%;
  width: 100%;
  background-color: rgb(222, 223, 225);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 0px;
}
.graphAndTableContainer {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.graphDiv {
  height: 100%;
  width: 500px;
  background-color: rgb(222, 223, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chooseDateDiv {
  width: 100%;
  background-color: rgb(222, 223, 225);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.chooseDateDiv  span{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.reportButton {
  width: 10%;
  height: 30px;
  background-color: rgb(47, 95, 191);
  color: white;
  border: black 1px solid;
  border-radius: 10px;
}