/*Eylam Kadden 206516957
Oren Pinhasov 318552734*/
.formDiv {
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: left;
    transition: all 0.3s ease-in-out;
  }
  
  .formDiv.show {
    opacity: 1;
  }
  
  .costsForm {
    height: 100%;
    width: 500px;
    opacity: 0.7;
    background: radial-gradient(circle, rgba(9,9,121,1) 35%, rgba(7,65,158,1) 53%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
  }
  
  .costsFormInputLabel {
   width: 100%;
   height: 30px;
   min-height: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding-top: 7px;
   padding-bottom: 7px;
   border-radius: 15px;
   transition: all 0.3s ease;
  }
  
  .costsFormInputLabel:hover {
    background-color: rgba(74, 95, 136, 0.584);
    color: white;
    cursor: pointer;
  }
  .costsFormInputLabel .textDiv {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-weight: bold;
    color: white;
   }
  
  .costsFormInput {
    width: 50%;
    border-radius: 10px;
    height: 75%;
    transition: all 0.3s ease;
  }
  
  .costsFormInput:hover {
    border: 2px solid rgb(126, 150, 198);
  }
  
  .formBtn {
    width: 30%;
    height: 30px;
    background-color: rgb(47, 95, 191);
    color: white;
    font-size: larger;
    border: 1px solid black ;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  .formBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .formBtn:active {
    background-color: rgb(28, 57, 108);
    transform: scale(0.95);
  }
